<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/comman.css">
    <title>Heart Attack Survival Prediction</title>
</head>

<body>
    <header class="topnav">
        <ul>
            <li>Nucleus</li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <input type="text" placeholder="search">
    </header>
    <div class="landing-page">
        <h1>Welcome to the Heart Attack Survival Predictor</h1>
        <p>Enter your details to predict your chances of survival</p>
        <form method="post">
            <input type="submit" value="Start Prediction">
        </form>
    </div>
    <footer class="footer">
        <ul>
            <li>Copyright &copy; 2022-2023</li>
        </ul>
    </footer>
</body>

</html>